# .DS_Store
# .gitconfig
# .bash_history
# .minttyrc

# fonts/
# fonts/*
# .codeintel/
# .codeintel/*
# .ssh/
# .ssh/*
# .local
# .local/*
# .cache/
# .cache/*
# .wget-hsts

# .viminfo
# .z
# .zsh_history
# .zcompdump*
# .zsh-update
# .oh-my-zsh/
# .oh-my-zsh/*

# #.zsh/
# .zsh/*
# !.zsh/custom/
# !.zsh/custom/*

# #
# elastic*
# elastic*/
# logstash*
# logstash*/
# redis*
# redis*/

/*
!elk.sh
!myelk.sh
!conf/
!conf/*
	
